.w-section.section-content
  .w-container.container
    .w-row.mt-32
      .w-col.w-col-12.lookbook-slide
        = image_tag('home_page_background.jpg', class: 'lookbook-slide-item')
      .w-col.w-col-9
      .w-col.w-col-3
        %h1 привет дурачье


    .w-row.mt-32
      .w-col.w-col-12.lookbook-slide
        = image_tag('new_home_page_background.jpg', class: 'lookbook-slide-item')