.w-section.section-content.lookbook-3
  .w-container.container
    %button.go-back-button.button.small.close <
    .w-row.mt-32
      .w-col.w-col-12.lookbook-slide
        = image_tag('home_page_background.jpg', class: 'lookbook-slide-item')
        .lookbook-slide-title.about-text Лето 2014
        .lookbook-slide-about-text.about-text.hint
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          %br
          В съемках участвовали 
          Саша Шульгович, Саша Солнце


    .w-row.mt-32
      .w-col.w-col-12.lookbook-slide
        = image_tag('new_home_page_background.jpg', class: 'lookbook-slide-item')
        .lookbook-slide-title.about-text Лето 2014
        .lookbook-slide-about-text.about-text.hint
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          Основой для съемки послужила летняя коллекция рюкзаков Astra

          %br
          %br
          В съемках участвовали 
          -# = link_to 'Саша Шульгович', '#'
          Саша Шульгович, Саша Солнце

        -#   .button.tiny Смотреть

    .w-row.mt-32
      .w-col.w-col-12.lookbook-slide
        = image_tag('home_page_background.jpg', class: 'lookbook-slide-item')
        .lookbook-slide-title.about-text Лето 2014
        .lookbook-slide-about-text.about-text.hint
          Основой для съемки послужила летняя коллекция рюкзаков Astra
          %br
          В съемках участвовали 
          Саша Шульгович, Саша Солнце

    .lookbook-gridster.gridster.responsive