%h1 Insta

%p
  code:
  %b aab32c9b826245709a0ed43432cd5143


#<Hashie::Mash access_token="239000873.58b9b7b.8bf9837b35fa4f699b6005c7b2f3ecdb" user=#<Hashie::Mash bio="" full_name="Packer Shmaker" id="239000873" profile_picture="https://instagramimages-a.akamaihd.net/profiles/profile_239000873_75sq_1350565957.jpg" username="maxmernikov" website="">> 