.st-menu
  overflow-x: scroll 
  padding: 16px
  .cart-title
    font-size: 30px
    line-height: 33px
    margin-bottom: 10px
    font-weight: 100
    text-align: center
    margin-top: 10px

  .product-info
    text-align: left
    margin-top: 6px
    .category-title
      letter-spacing: 1px
      font-weight: 100
