.uk-width-1-1.header.uk-wrapper
  .uk-grid
    .uk-width-1-5
      .slogan магазин аксессуаров
    .uk-width-3-5.tac
      = link_to 'ASTRA', root_path, class: 'logo'
      .city - Minsk -
    .uk-width-1-5
      .contacts.uk-align-right
        = link_to '/lood' do
          %i.uk-icon-button.uk-icon-phone
          %span контакты

