.row
  .col-xs-12
    .abount
      %h1 Hello Astra
.row
  .col-sm-6.col-xs-12
    %h3 Максим
    %p 
      В начале 2014 года мы основали Astra - белорусский бренд рюкзаков и сумок.
      Наша команда состоит из 2 человек.
    %p
      Оксана работает детским психологом. Она помогает детям разобраться в себе, определиться с вектором движения по жизни. В свободное время она занимается шитьем. Так она отдыхает, реализует свой творческий потенциал. Я думаю это занятие она пронесла через всю жизнь и если бы не желание помогать людям и заниматься психологией в ее жизни все было бы иначе.
    %p
      Я, Максим второй участник проекта, в основном занимаюсь web разработкой. Мне интересно разбираться как устроены и работают процессы, и главное как их можно улучшить. Мне нравятся красивые и удобные вещи и свои навыки и интересы я проецирyю на производство рюкзаков.
    %p
      Объединение наших качеств и навыков и произвело на свет Astra.

  .col-sm-6.col-xs-12
    %h3 Оксана
    %p
      Наше предприятие Astra прежде всего тандем.
      В психологии есть такое понятие - "отражение друг в друге". Каждому человеку для его самореализации важно встретить человека, партнера в котором его мысли, идеи и желания будут иметь отражение и отклик.
    %p
      Швейное образование у меня второе и мне всегда хотелось проявить свои творческие способности, знания и опыт в пошиве изделий разного плана.
      Максим это ум, креатив, глоток свежего воздуха нашего тандема. Наше движение, развитие и развитие всегда в правильном направлении. 
    %p
      Наша задача не просто создать красивые и удобные аксессуары, а учесть все нюансы, добиться совершенства в своем деле. Для этого мы постоянно в поиске новых идей, модных тенденций. И каждого нашего клиента мы рады пригласить в соучастники креативного процесса.
    %p
      Рюкзаки и сумки Astra не только помогут вам почувствовать себя красивыми, модными и защищенными в жизни, но может и станут еще немного ближе.

  / %p
  /   Сейчас мы работаем по модели шитья на заказ, но в перспективе планируем организовать производство.
 