.row
  .col-xs-12
    .abount
      %h1 Контакты

.row
  .col-sm-3.col-xs-12.info
    %p
      Вы можете связаться с&nbsp;нами
      %br.hidden-xs
      по&nbsp;почте maxmernikov@gmail.com
      %br.hidden-xs
      или по&nbsp;телефону 
      = link_to 'tel://80297697887', rel: 'nofollow' do
        = raw '+375&nbsp;29&nbsp;769-78-87'

    %p 
      Наша мастерская находится в&nbsp;Минске
      %br.hidden-xs
      по&nbsp;адресу&nbsp;Д.&nbsp;Сердича,&nbsp;78

  .col-sm-9.col-xs-12
    #map-canvas{ style: "width: 100%; height: 480px;" }


= render 'partials/map'