.row#pagepiling
  .section#root-section
    .col-xs-12.col-sm-4.banner-info
      .banner-title Hello Astra
      %p Мы белорусский производитель рюкзаков и сумок под маркой Astra
      %p За несколько меcяцев нашего существования было разработано 30 моделей продукции, выполненно более 200 заказов.
      %p.hidden-xs Результаты нашей работы стали элементом гардероба и помошником в дороге для сотен людей. И мы готовы сделать это и для оставшихся семи миллиардов.

    .slide-down
      %span Наша продукция
      .slide-down-button
        %i.icon-angle-down


  .section.category-row.background-section#backpacks
    .col-sm-6.col-sm-offset-1.left
      %h2 Городские рюкзаки Astra
      %br
      %br
      %p Рюкзаки средних размеров, достаточно емкие, чтобы взять с собой теплую вещь, плед, книгу, ноутбук или планшет. Вариантов много, цель одна - свобода и комфорт в движении.
      %br
      %br
      = link_to 'показать все модели городских рюкзаков', '/backpacks', class: 'btn btn-default btn-sm'


  .section.category-row.background-section#pouches
    .col-sm-6.col-sm-offset-5.left
      %h2 Сумки Astra
      %br
      %br
      %p Создавая модели сумок мы сосредоточились на их практичности и удобстве использования. Для нас важно, что бы вы испытывали комфорт и хотели носить нашу продукцию снова и снова.
      %br
      %br
      = link_to 'показать все модели сумок', '/backpacks', class: 'btn btn-default btn-sm'


  .section#galery
    .gridster.responsive
      %ul
        - @lookbook.each do |item|
          = render 'partials/lookbook_item', item: item

    %h2
      = link_to 'Галерея', lookbooks_path

