.w-section.home_page.section-content
  .w-container
    .w-row
      - @products.each do |product|
        .w-col.w-col-4
          = render 'partials/product_preview', product: product

  = render 'astra_hr', without_image: true
  .w-container
    .seo-text
      %p
        Astra это Белорусский производитель рюкзаков и сумок.
        %br
        У нас небольшая команда, стремящаяся сделать рюкзаки хорошего качества и по справедливым ценам.
      %p
        Мы шьем рюкзаки и сумки, которые нам самим хочется носить.  Мы стараемся разнообразить ассортимент товаров и следим за происходящим в мире рюкзаков и сумок. У нас высокие требования к внешнему виду наших рюкзаков – он должен быть стильным, ярким, из практичных натуральных материалов, с качественной фурнитурой, а также привлекать внимание окружающих и радовать глаз повсеместно при любой погоде. Все эти преимущества сочетает в себе рюкзак Astra, созданный нами специально для бешеного ритма современной жизни города. Натуральные материалы, использованные в рюкзаке, нежные тона и цветочные мотивы разных моделей всегда напомнят нам о природе, ее спокойной гармонии и совершенстве.
      %p
        = link_to 'Astra Store', root_url
        \- интернет-магазин, где вы сможете купить рюкзак в Минске по низкой цене. Мы предлагаем городские рюкзаки, рюкзаки для учебы, спорта и прогулок, женские и детские, с доставкой в любой город Беларуси.
      %p
        Городской рюкзак ваш помощник, если вы хотите иметь под рукой все необходимые в течение дня вещи. Для прогулок по городу это, пожалуй, самое удачное решение: теперь не надо думать, в какой подходящий по размеру карман положить смартфон, незачем покупать отдельный чехол-сумку для планшета или ноутбука, не придется пытаться вместить в небольшую дамскую сумочку косметичку, зеркальце, расческу и прочие необходимые для прекрасного пола мелочи.
      %p
        Для вашего ребенка у Astra тоже кое-что найдется. Модели школьных и детских рюкзаков представлены на страницах нашего сайта. Наш магазин предлагает широкий выбор ярких, красочных моделей детских рюкзаков для мальчиков и девочек.
      %p
        Если же случилось так, что среди наших работ не нашлось рюкзака по вкусу, вы можете оформить заказ на пошив рюкзака по вашим эскизам или фотографиям из интернета.
      %p
        Покупайте наши рюкзаки, сумки, и пусть они будут вам верным спутником долгие годы. 
      %p
        You are welcome!

  = render 'astra_hr'
