

.w-section.section-content.lookbook-3
#galery_data{ data: {json: @galery } }

  .w-container.container

    .w-row.mt-32
    .lookbook-gridster.gridster.responsive



#order_success.dialog
  .dialog__overlay
  .dialog__content
    .morph-shape
      %svg{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 560 280", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
        %rect{:fill => "none", :height => "276", :width => "556", :x => "3", :y => "3"}
    .dialog-inner
      .motion-right
        .about-text Good buy Astra
        .hint.about-text.mb-32
          %p
            Привет! Хотим сообщить что Astra прекращает свою деятельность. Это было 2 интереснейших года полных открытий и довольных клиентов.

          %p
            Если у вас имеются вопросы, вы можете написать нам на почтовый ящик maxmernikov@gmail.com
          %br
          %p
            Всего наилучшего! 

      .motion-left
        %button.button.small.action.mb-32{"data-dialog-close" => ""} Закрыть
