.w-section.thankyou.section-content
  .w-container.text-center
    %h3.mt-60 Страница не найдена
    / .about-text.mb-32.hint
    / Попробуйте вернуться на
    / = link_to 'главную страницу', root_path


    = link_to 'Вернутся на главную', root_path, class: 'button mt-32'

  .w-container.other_products.mt-60.container
    / %div Быть может эти товары будут вам интересны:
    .w-row.mt-12
      - @random_three.each do |product|
        .w-col.w-col-4.w-col-small-4.w-col-tiny-4
          = render 'partials/product_preview', product: product, client: check_client

= render 'astra_hr'
