.w-section.thankyou.section-content
  .w-container.text-center
    .about-text.mt-60 Спасибо. Ваша заявка принята
    .about-text.mb-32.hint
      В&nbsp;ближайшее время с&nbsp;вами свяжется наш менеджер для уточнения информации.
      %br
      А вам говорили, что&nbsp;вы великолепны?

    = link_to 'Вернутся на главную', root_path, class: 'button'

  = render 'astra_hr'
