.nested-fields
  .uk-form-row
    = f.label :image, class: 'uk-form-label'
    .uk-form-controls
      = f.file_field :image, class: 'uk-width-1-4'
      - if f.object.image.present?
        = image_tag(f.object.image(:preview), class: 'uk-width-1-4')

      = link_to_remove_association "remove image", f, class: 'uk-width-1-4'
  %hr