.uk-grid
  .uk-width-1-1
    %h2
      Список мест
      %small= link_to 'Добавить категорию', new_admin_category_path

.uk-wrapper
  %table.uk-table
    %thead
      %tr
        %th
        %th
        %th
    %tbody
      - @categories.each do |category|
        %tr{ class: category.show ? '' : 'not_show' }
          %td
            .uk-article-lead= category.title
          %td
            .uk-button-group
              -# = link_to 'Show', category_place_path(place.category, place), target: '_blank'
              = link_to edit_admin_category_path(category), class: 'uk-button uk-button-small uk-button-success' do
                .uk-icon-pencil
              = link_to admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-small uk-button-danger' do
                .uk-icon-times
