- if @category.image_file_name.present?
  .row
    .col-xs-12.header_image{ style: "background-image: url(#{@category.image(:original)})" }

.row
  .col-xs-12
    %h1.slim.tac= @category.plural_title

.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    .uk-wrapper.tac
      = mark(@category.detail)

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    = block_former(@category.products.by_pos.show)

.uk-margin-large-bottom
