.uk-grid
  .uk-width-1-1
    %h2
      LookBook
    = link_to 'save position', '#', id: 'js-seralize'
    %br
    = link_to 'new item', new_admin_lookbook_item_path

.uk-wrapper
  .gridster
    %ul
      - collection.each do |item|
        = render 'partials/lookbook_item', item: item, admin: true
