.w-section.header
  %header.w-container
    .w-nav.navbar{"data-animation" => "default", "data-collapse" => "small", "data-contain" => "1", "data-duration" => "400"}
      .w-container
        = link_to root_path, class: 'w-nav-brand brand' do
          %i.is.icons-text_logo
          .logo-subtitle -minsk-
        / = link_to page_cart_path, class: 'w-inline-block menu-button left-menu-button cart' do
        /   %i.is.icons-cart.cart
        /   .cart-point{class: "#{'hide' if @cart_value == 0}"}= @cart_value
        /   -# .menu-button-icon
        .w-nav-button.menu-button
          .w-icon-nav-menu.menu-button-icon
        %nav.w-nav-menu.w-clearfix.nav-menu{:role => "navigation", :style => "transform: translateY(0px) translateX(0px);"}
          / %a.w-nav-link.nav-link.first{:href => root_path} продукция
          / %a.w-nav-link.nav-link{:href => lookbooks_path} галерея
          / %a.w-nav-link.left.nav-link.last{:href => page_contacts_path} контакты
          / %a.w-nav-link.nav-link.left{:href => page_about_path} о нас