%table.table.params
  %tbody
    %tr
      %td Размеры
      %td 35 x 25 x 12 см
    %tr
      %td Вид застежки
      %td Молния
    %tr
      %td Материал
      %td Хлопок 100%
    %tr
      %td Подкладка
      %td шгяша
    %tr
      %td Количество отсеков
      %td 2
    %tr
      %td Карманы
      %td Наружный спереди, внутренний на замке и 2 открытых