%table.table.params
  %tbody
    %tr.no-line
      %th{ colspan: 2 } Характеристики:

    - Product::PARAMS.each_with_index do |param, index|
      - if (value = @product.send(param)).present?
        %tr{ class: "#{ 'no-line' if index == 0 }" }
          %td= I18n.t("activerecord.attributes.product.#{ param.to_s }")
          %td= value