%a{ onClick: "popupwindow('http://vkontakte.ru/share.php?url=#{ request.original_url }&image=#{ @product.images.first.image(:preview) }', 520, 300)" }
  %i.uk-icon-button.uk-icon-vk

%a{ onClick: "popupwindow('http://www.facebook.com/sharer/sharer.php?u=#{ request.original_url }', 520, 300)" }
  %i.uk-icon-button.uk-icon-facebook