.about-row.center
  .w-row
    display: table

  .w-col
    vertical-align: middle
    display: table-cell
    float: none

@media screen and (max-width:767px)
  .about-row
    .w-col
      float: left


.about-row.ps
  height: 600px
  background-image: url(#{asset_path('about/space.jpg')})
  background-size: cover
