.product-block
  &:before
    background-color: rgba(0,0,0,0)
    -webkit-transition: background-color 0.5s
    transition: background-color 0.5s
    content: ''
    height: 100%
    width: 100%
    display: inline-block
    position: absolute
    margin-left: -15px

  &:hover
    &:before
      background-color: rgba(0,0,0,0.04)

  &.rex
    &:after
      background-image: url(image_path('products/rex.png'))

  &.jazzy-knit
    &:after
      background-image: url(image_path('products/jazzy-knit.png'))

  &.nindza
    &:after
      background-image: url(image_path('products/nindza.png'))
      opacity: 0.45


  &.rex, &.jazzy-knit, &.nindza
    &:after
      top: 0
      left: -5px
      content: ''
      height: 100%
      width: 100%
      display: inline-block
      position: absolute
      background-position-x: 42%

    img
      position: relative
      z-index: 1

