.product-block
  &:before
    background-color: rgba(0,0,0,0)
    -webkit-transition: background-color 0.5s
    transition: background-color 0.5s
    content: ''
    height: 100%
    width: 100%
    display: inline-block
    position: absolute
    margin-left: -15px

  &:hover
    &:before
      background-color: rgba(0,0,0,0.04)

  &.rex
    &:after
      background-image: url(image_path('products/rex.png'))

  &.jazzy-knit
    &:after
      background-image: url(image_path('products/jazzy-knit.png'))

  &.nindza
    &:after
      background-image: url(image_path('products/nindza.png'))
      opacity: 0.25 !important


  &.rex, &.jazzy-knit, &.nindza
    &:after
      top: 0
      left: -5px
      content: ''
      height: 100%
      width: 100%
      display: inline-block
      position: absolute
      background-position-x: 50%
      background-position-y: 105%

      background-size: 95%
      opacity: 0.5
      -webkit-transition: background-size 0.5s ease-out 0s
      transition: background-size 0.5s ease-out 0s

    &:hover
      &:after
        background-size: 100%
        -webkit-transition: background-size 1s ease-out 0.5s
        transition: background-size 1s ease-out 0.5s


    img
      position: relative
      z-index: 1

