body
  font-weight: 300
  font-size: 16px
  line-height: 1.4
  cursor: default

  .uk-article-title, .uk-article-lead, .uk-text-slim
    font-weight: 300
  .uk-text-ultra-slim
    font-weight: 100
    letter-spacing: 1.00pt

.body
  // -webkit-transition: all .3s linear
  // transition: all .3s linear
  // margin-top: 65px

.tac
  text-align: center

.home.slide-1
  .header
    opacity: 0
  .body
    margin-top: 0

  .slide-down
    cursor: pointer
    background: rgba(255, 255, 255, 0)
    -webkit-transition: all .3s linear
    transition: all .3s linear
    position: absolute
    bottom: 48px
    left: 0
    right: 0
    margin: 0 auto
    text-align: center
    span
      text-transform: uppercase
      color: #fff
      font-size: 20px
      font-weight: 100
      line-height: 44px
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85), -1px -1px 5px rgba(0, 0, 0, 0.85)

  .slide-down-button
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35), inset 0px 0px 7px 0px rgba(0, 0, 0, 0.35)
    margin-top: 12px
    display: block
    margin: auto
    border-radius: 24px
    border: 2px solid #fff
    height: 42px
    width: 42px


    i
      font-size: 24px
      color: #fff
      line-height: 38px
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35), -1px -1px 5px rgba(0, 0, 0, 0.35)

    &:hover
      background: rgba(255, 255, 255, 1)
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35)
      i
        color: #000
        text-shadow: none

  #pp-nav span, .pp-slidesNav span
    border: 1px solid #fff
  #pp-nav li .active span, .pp-slidesNav .active span
    background: #aaa


$bgc: rgba(73, 84, 52, 0.65) //background color
@media (min-width:768px)
  .index_promo
    position: absolute
    top: 90px
    .uk-article-mmm
      color: #f0eeef
      font-size: 22px
      text-shadow: 1px 0 1px $bgc, -1px 0 2px $bgc, 0 1px 2px $bgc, 0 -1px 2px $bgc, 1px 0 0px $bgc, 0 1px 0px $bgc


.clear
  clear: both


.banner-info
  padding: 0 24px
  color: #fff
  font-weight: 100
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)

.banner-title
  font-weight: 100
  font-size: 52px
  line-height: 56px
  margin-bottom: 24px
  margin-top: 24px

.home.page
  p
    font-size: 22px
    margin-bottom: 16px
    line-height: 1.2
    letter-spacing: 1px

.category-row
  border-top: 1px solid #eee
  border-bottom: 1px solid #eee
  overflow: hidden
  font-weight: 100

  h2
    font-size: 36px
    line-height: 43px
    font-weight: 100
    margin-bottom: 24px
    background: rgba(255, 255, 255, 0.85)
    display: inline
  p
    margin-bottom: 24px
    background: rgba(255, 255, 255, 0.85)
    display: inline

  .right
    position: relative
    img
      margin-top: 160px
      width: 100%
      position: absolute

h3
  font-weight: 300
  font-size: 20px
  color: #333333
  line-height: 24px

.section
  background: #fff
  margin-top: 32px

#root-section
  background: image-url('new_home_page_background.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  margin-top: 0px

.background-section
  background-repeat: no-repeat
  background-color: #fff

#backpacks
  background-position-x: 110%
  background-size: auto 90%
  background-image: image-url('home_product.jpg')

#pouches
  background-position-x: -10%
  background-size: auto 90%
  background-image: image-url('pouche.jpg')

#galery
  .gridster.responsive
    opacity: 0.8
    ul
      position: absolute
      left: -1%
      right: 0%
      bottom: 0
      margin-bottom: 0%

  h2
    margin-top: -6%
    text-align: center
    z-index: 2
    font-size: 32px
    line-height: 43px
    font-weight: 100
    position: relative
    a
      border-radius: 4px
      padding: 12px 54px 13px
      text-decoration: none
      color: #333
      background-color: rgba(255, 255, 255, 0.95)

      -webkit-transition: all .15s linear
      transition: all .15s linear
      &:hover
        background-color: rgba(238, 238, 238, 1)

.home
  .header
    background-color: #fff !important