@media (max-width:767px)
  body
    p
      font-size: 18px
  .help_widjet
    width: 100%
    .help-text
      font-weight: 300
      letter-spacing: normal

  .footer-block
    a
      font-weight: 300


  .header
    height: 52px
    .logo
      font-size: 28px
    .city
      font-size: 11px
      margin-top: -5px
    .header-row
      line-height: 48px

    .contacts
      .icon-phone
        font-size: 18px
      .contact-btn
        padding: 4px 6px 7px

  #pp-nav.right
    right: 2px !important

  .banner-info
    padding: 0 32px 0 16px

  .home.slide-1
    .slide-down
      bottom: 8px

      span
        line-height: 34px
        font-size: 16px
      .slide-down-button
        height: 34px
        width: 34px
        i
          line-height: 32px

// @media (min-width:768px)
